h3 {
    text-align: center;
    margin: 4px 0px 10px;
}

#container,
#heading,
#player {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#player video {
    max-width: 100%;
}

#heading {
    text-align: center;
    position: relative;
}

#info {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

#controls {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

#controls {
    text-align: center;
}

#heading a,
#heading a:visited,
#heading a:active {
    margin: 4px 10px;
    padding: 4px 10px;
    color: #666;
    transition: color, backgound-color 200ms;
    border-radius: 6px;
    text-decoration: none;
}

#heading a:hover {
    color: blue;
    background: #ddd;
    text-decoration: none;
}

body:not(.playing) a.fa-pause {
    display: none;
}

body.playing a.fa-play {
    display: none;
}

#screen {
    text-align: center;
}

#wrapper {
    display: inline-block;
    background: black;
    line-height: 0;
}

#container ul {
    list-style: none;
}

.cams {
    padding: 0px;
}

.cams h4 {
    margin-top: 10px;
}

.dates {
    margin: 10px;
    padding: 0px;
    text-align: center;
}

.dates li {
    margin: 4px 8px;
    display: inline-block;

}

.dates li i {
    margin-left: 1em;
}

.dates a i {
    opacity: 0;
    transition: opacity 200ms;
}

.dates a:hover i {
    opacity: 1;
}

.dates a,
.dates a:hover,
.dates a:visited,
.dates a:active {
    text-decoration: none;
}

.dates a:hover {
    color: black;
}

